# Project exclude paths
/dubbo-api/target/
/dubbo-tcc-order/target/
/dubbo-tcc-capital/target/
/dubbo-tcc-redpacket/target/
/.idea/
/SpringBoot-dubbo-study.iml
/dubbo-api/dubbo-api.iml
/dubbo-tcc-order/dubbo-consumer.iml
/dubbo-tcc-order/dubbo-consumer.ipr
/dubbo-tcc-order/dubbo-consumer.iws
/dubbo-provider/dubbo-provider.iml

/dubbo-tcc-capital/dubbo-tcc-captial.iml
/dubbo-tcc-redpacket/dubbo-tcc-redpacket.iml
